<footer>
  <!-- Section Social Contact -->
  <div class="container-social">
    <div class="container-copyright">
      <div class="copy">
          <span class="copyright"> Madin'ecoFarm © Copyright 2019.
          Tous droits réservés.</span>
      </div>
    </div>
  </div>
</footer>
