<nav id="navMenu" class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top">

  <%#= link_to "#tab-es6", class: "navbar-brand" do %>
    <%#= image_tag('home.png') %>
  <%# end %>
  <div class="navbar-header">
    <!-- <a class="navbar-brand" href="#tab-head"><%#= image_tag('home.png', style: "width:30px") %></a> -->
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="list-nav">
      <li><a href="#about" class="effect-underline">À propos</a></li>
      <li><a href="#product" class="effect-underline">Nos produits</a></li>
      <li><a href="#coming" class="effect-underline">À venir</a></li>
      <li><a href="#contact" class="effect-underline">Contact</a></li>
    </ul>
  </div>
</nav>
