<header id="tab-head">
  <div class="img-header">
    <div class="title-header">
      <div class="first-w">
        <h1 id="title">Madin'</h1>
      </div>
      <div class="mid-w">
        <h3 id="mid-title">eco</h3>
      </div>
      <div class="last-w">
        <h1 id="title">Farm</h1>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container container-about">
    <div class="title-about">
      <h1>Qu'est-ce que c'est ?</h1>
    </div>
    <div class="text-about">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate, culpa iste voluptatem minima, corporis natus aliquam aut dolorem repellat alias, laborum voluptatum mollitia est illo saepe! Eligendi, officia animi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ducimus doloribus soluta necessitatibus fugiat reprehenderit, a distinctio facilis labore recusandae optio quis iusto itaque provident sint nam cumque aliquid, dignissimos.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit, consequuntur? Consectetur repellat voluptatum nisi quisquam amet fugit recusandae vero aut, in inventore, qui voluptatem. Cum aut quaerat possimus ad.
      </p>
    </div>
  </div>
</section>

<section id="product">
  <div class="container container-product">
    <div class="row">
      <div class="col-md">
        <h1>One</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam labore, dolorum totam vitae laudantium explicabo ipsam, unde repellendus molestias necessitatibus voluptates, quaerat ea quas iste. Suscipit, provident. Voluptatem, neque, inventore!
      </div>
      <div class="col-md">
      <h1>two</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos accusamus, vitae accusantium corporis praesentium error provident voluptatem culpa, recusandae sit dolores quo inventore esse placeat maiores consectetur rem necessitatibus mollitia.
      </div>
      <div class="col-md">
      <h1>three</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fuga dolore, dolorem sit soluta atque. Consequatur quod adipisci quae perferendis voluptatem, impedit, est culpa incidunt eos vitae quis obcaecati accusamus.
      </div>
    </div>
  </div>
</section>

<section id="coming">
  <div class="container container-coming">
    <div class="title-coming">
      <h1>Prochainement...</h1>
    </div>
    <div class="text-coming">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis a, nemo error iusto nesciunt cum ducimus eligendi iste ut debitis dolorem praesentium voluptatum quidem minima non aliquam voluptates provident odio.</p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container container-contact">
    <h1>Contact</h1>
      <div class="form-contact">
        <div class="row">
          <form action="https://formspree.io/xqkbldwe" method="POST">
          <div class="col-md-6">
            <label>
              Nom:
              <input type="text" name="_replyto">
            </label>
            <label>
              Prénom:
              <input type="text" name="_replyto">
            </label>
            <label>
              Email:
              <input type="text" name="_replyto">
            </label>
          </div>
          <div class="col-md-6">
            <label>
              Your message:
              <textarea name="message"></textarea>
            </label>
          </div>
          <div class="col-lg-12">
            <button type="submit">Send</button>
          </div>
        </div>

        <!-- your other form fields go here -->

      </form>
      </div>
  </div>
</section>
