
.container-coming{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title-coming{
  color: black;
  margin-bottom: 20px;
}

.text-coming{
  text-align: center;
}
