.navbar {
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav {
  list-style: none;

}


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Solid class attached on scroll past first section */



.navbar-custom .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFF;
  margin-top: 0;

}

.navbar-brand {
  float: left;
  padding: 5px 50px;
  font-size: 18px;
  line-height: 20px;


  &:hover  {
    color: #453223 !important;
  }
}


.collapse {
  margin-right: 25px;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.list-nav {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;


  li {
    display: inline;

    a {
      margin: 0 0 0 30px;
      font-size: 12px;
      color: white;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      position: relative;

      &:hover{
        background-color: #95b634;
        padding: 7px 12px 7px 12px;
        border-radius: 4px;

        color: #453223;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
      }

      // &:after {
      //   background: none repeat scroll 0 0 transparent;
      //   bottom: 0;
      //   content: "";
      //   display: block;
      //   height: 2px;
      //   left: 50%;
      //   position: absolute;
      //   background: #fff;
      //   width: 0;
      //   margin-bottom: -5px;
      // }
    }
  }
}


// a.effect-underline:after {
//   content: '';
//   position: absolute;
//   left: 0;
//   display: inline-block;
//   height: 1em;
//   width: 100%;
//   border-bottom: 1px solid;
//   margin-top: 10px;
//   opacity: 0;
//   -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//   transition: opacity 0.35s, transform 0.35s;
//   -webkit-transform: scale(0,1);
//   transform: scale(0,1);
// }

// a.effect-underline:hover:after {
//   opacity: 1;

//   -webkit-transform: scale(1);
//   transform: scale(1);
// }


.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 20px 50px;
  transition:
  padding 0.5s ease;
  text-transform: uppercase;
  height: 55px;
  border: none;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s ease 0s;


  &.solid-nav {
    background-color: #f5f5f5;
    // color: black;
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.2);
    // border-bottom: 1px solid #91999d;
    padding: 5px 50px;
    transition:
      background-color 0.5s ease,
      padding 0.5s ease;
        // a.navbar-brand{


        // }
      li {
          a{
          color: #453223;

          &:hover{
//  ADD HOVER ON NAV LIST ITEM WHEN SOLID <<<<-----------
          }
        }
      }
  }
}


