#product{
  background-color: rgba(251, 249, 158, 0.8);
  box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.23);
}

.container-product{
  height:100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
// html.sr .load-hidden {
//     visibility: hidden;
// }
